<hr/>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-5">
    </div>
    <div class="ui-grid-col-2">
      <button pButton type="text" (click)="getData()" label="Мои топ 5 "></button>
    </div>
    <div class="ui-grid-col-5">
    </div>
  </div>
  <hr/>
  <div class="ui-grid-row">
    <div class="ui-grid-col-3">
    </div>
    <div class="ui-grid-col-6">
      <img src="{{webSocketService.data}}"/>
    </div>
    <div class="ui-grid-col-3">
    </div>
  </div>

</div>

